body {
  background: #c4d2e0;
  border-radius: 10px;
}

h1, h2 {
  display: flex;
  justify-content: center;
  font-family: Times New Roman, Georgia, san-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#img-div {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  width: 80%;
  background-color: rgba(236, 237, 244, 0.926);
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  padding-top: 20px;
}

#image {
  display: block;
  max-width: 100%;
  margin: auto;
  height: auto;
  border-radius: 5px;
}

#img-caption {
  padding-top: 10px;
}

#tribute-info {
  display: flex;
  justify-content: center;
}

li {
  padding-bottom: 5px;
}

#quote {
  text-align: center;
}

#footer-info {
  text-align: center;
}